<div class="h2 text-center">Zamknięcie roku, o co właściwie chodzi?</div>
<div class="col-md-3"></div>
<div class="col-md-6 centered h3">
    {{info}}
    Ta opcja umożliwia wyzerowanie składek, przychodów i kosztów i przeniesieniu ich do Archiwum odpowiedniego roku.
    Dzięki temu w nowym roku będziemy mieli czyste konto (oczywiście z saldem z poprzedniego roku).<br><br>

    Jeśli chcesz to zrobić, kliknij tutaj: <button class="btn btn-info" ng-click="CloseThisYear()">Archiwizuj</button>
</div>