<h2>Dodaj sładkę</h2>
<form method="post" ng-controller="AddItem">
    <div id="alert"></div>
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" id="name" placeholder="Wprowadź nazwę">
    </div>
    <div class="form-group">
        <label for="amount">Kwota</label>
        <input type="number" id="amount" placeholder="Wprowadź kwotę">
    </div>

    <button class="btn btn-success" ng-click="addCollect()"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj</button>
</form>