<h2>Dodaj wydatek</h2>
<form method="post" ng-controller="AddItem">
    <div id="alert"></div>
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" id="name" required>
    </div>
    <div class="form-group">
        <label for="price">Cena</label>
        <input type="number" id="price" required>
    </div>
    <div class="form-group">
        <label for="date">Data</label>
        <input type="date" id="date" required>
    </div>
    <button class="btn btn-success" ng-click="addExpense()"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj</button>
</form>