<h2>Dodaj dłużnika</h2>
<form method="post" ng-controller="AddItem">
    <div id="alert"></div>
    <div class="form-group">
        <label for="name">Imię i nazwisko</label>
        <input type="text" id="name" required>
    </div>
    <button class="btn btn-success" ng-click="addPerson()"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj</button>
</form>