<div class="table-responsive">
    <div class="alert alert-danger h3">
        <p class="text-center">Archiwum</p>
    </div>
    <table class="table table-condensed" data-ng-controller="GetArchive">
        <thead>
        <tr class="text-center">
            <th>Nazwa</th>
            <th data-ng-repeat="period in a_periods.item">{{ period.name }} <span data-ng-click="EditPeriod(period.id)" data-ng-if="showEdit == 1" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edytuj"></span>
                <span class="glyphicon glyphicon-remove-sign" data-ng-show="showEdit" data-ng-click="Delete(period.id,$index,'periods')" confirm="Chcesz usunąć {{period.name}}?"></span>
                <span class="pull-right" style="font-style: italic;">{{ period.amount }}zł</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="person in a_people.item | filter: searchText">
            <td>{{ person.name }}</td>
            <td data-ng-repeat="period in a_periods.item" class="text-center">
                <div data-ng-if="checkPaid(person.id,period.id)"
                     class="alert alert-success">
                    <span class="glyphicon glyphicon-ok"></span> Zapłacone
                </div>
                <div data-ng-if="!checkPaid(person.id,period.id) && !getDisplay(a_display,(person.id+''+period.id))"
                     class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span> Nie zapłacone
                </div>
                <div data-ng-if="getDisplay(a_display,(person.id+''+period.id))" class="alert alert-info">
                    Nie dotyczy
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>