
<h2>Bilans</h2>
<div ng-controller="Balance">
    <div class="table-responsive">
        <table class="table table-striped h4 text-center">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Wartość</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Przychody</td>
                    <td>{{ revenue }}zł</td>
                    <td><button class="btn btn-info" data-ng-click="LoadContent('revenue')">Szczegóły</button></td>
                </tr>
                <tr>
                    <td>Wydatki</td>
                    <td>{{ totalExpenses }}zł</td>
                    <td><button class="btn btn-info" data-ng-click="LoadContent('expenses')">Szczegóły</button></td>
                </tr>
                <tr><td></td><td colspan="2"></td></tr>
                <tr class="alert-success h3">
                    <td>Dostępny budżet</td>
                    <td colspan="2">{{ availableBudget }}zł</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>