<div class="modal-header">
    <h3 class="modal-title">Potwierdź nawigacje</h3>
</div>
<div class="modal-body">
    <strong>{{text}}</strong>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ok(id)">OK</button>
    <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
</div>