<h2>Edytuj składkę</h2>
<form>
    <div id="alert"></div>
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" id="name" ng-value="editPeriod.name">
    </div>

    <div class="form-group">
        <label for="amount">Wartość</label>
        <input id="amount" type="number" ng-value="editPeriod.amount">
    </div>

    <button class="btn btn-success" ng-click="edit(editPeriod.id, indexOfPeriod)"><span class="glyphicon glyphicon-pencil"></span> Edytuj</button>
</form>