<h2>Edytuj wydatek</h2>
<form data-ng-controller="Balance">
    <div id="alert"></div>
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" data-ng-value="expense.name" id="name">
    </div>

    <div class="form-group">
        <label for="price">Cena</label>
        <input type="number" data-ng-value="expense.price" id="price">
    </div>

    <div class="form-group">
        <label for="date">Data</label>
        <input type="date" id="date" data-ng-value="expense.date">
    </div>
    <input type="hidden" data-ng-value="expense.id" id="id">
    <button class="btn btn-success" data-ng-click="AcceptEditExpense()">Wyślij!</button>
</form>