<div class="col-md-2"></div>
<div class="col-md-8" style="background: #F0F0F0;">
    <h2>Wydatki</h2>
    <div class="table-responsive" data-ng-controller="Balance">
        <div class="alert alert-info h3">{{ totalExpenses }}zł ({{planExpenses}}zł planowanych)</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Data</th>
                    <th data-ng-show="showEdit">Edycja</th>
                    <th data-ng-show="showEdit">Usuń</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="expense in expenses">
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.price }}zł <span data-ng-if="expense.plan === 1" class="badge" style="cursor:hand;" data-ng-click="PayPlanExpense($index,expense.id)">P*</span><span data-ng-if="expense.plan === 0" class="badge">Z*</span></td>
                    <td>{{ expense.date }}</td>
                    <td data-ng-show="showEdit"><button data-ng-click="EditExpense($index)" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Edytuj</button></td>
                    <td data-ng-show="showEdit"><button data-ng-click="Delete(expense.id,$index,'expense')" confirm="Czy jesteś pewien usunięcia wydatku związanego z '{{expense.name}}'?" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> Usuń</button></td>
                </tr>
                <!--<tr>
                    <td colspan="4">
                        <div data-pagination="" data-num-pages="numPages()"
                             data-current-page="currentPage" data-max-size="maxSize"
                             data-boundary-links="true" previous-text="&#8249;" next-text="&#8250;" first-text="&#171;" last-text="&#187;">
                        </div>
                    </td>
                </tr>-->
                <tr>
                    <td colspan="5">
                        <pre><h2><small>Legenda</small></h2>Z - zapłacone <br>P - planowane
                        <h5>Kliknij na <span class="badge">P*</span> aby zmienić <br>status wydatku na "Zapłacone"!</h5></pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
