<div ng-controller="Balance">
    <h2>Daruj składkę!</h2>
    <div id="data" ng-if="forgive !== true">
    <h4>Wybierz dłużnika:</h4>
        <div ng-repeat="overdue in overdues" ng-if="overdue.value !== 0">
            <a href="" data-ng-click="UnpaidCollect(overdue.id)">{{ overdue.name }} <span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
    </div>

    <div ng-if="forgive === true">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Daruj</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="period in periods1">
                    <td>{{period.name}}</td>
                    <td>{{period.amount}}zł</td>
                    <td><button class="btn btn-info" data-ng-click="ForgiveCollect(period.id, forgiveId)">Daruj!</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>