<div class="table-responsive">
    <table class="table table-condensed" data-ng-controller="GetData">
        <thead>
        <tr class="text-center">
            <th>Nazwa</th>
            <th data-ng-repeat="period in periods.item" data-ng-hide="hidePeriod">{{ period.name }} <span data-ng-click="EditPeriod(period.id, $index)" data-ng-if="showEdit == 1" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edytuj"></span>
                <span class="glyphicon glyphicon-remove-sign" data-ng-show="showEdit" data-ng-click="Delete(period.id,$index,'periods')" confirm="Chcesz usunąć {{period.name}}?"></span>
                <span class="pull-right" style="font-style: italic;">{{ period.amount }}zł</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="person in people.item | filter: searchText" data-ng-if="person.hidePaid == 0">
            <td>{{ person.name }}<br>
                    <span class="glyphicon glyphicon-minus-sign" data-ng-show="showEdit"
                          data-toggle="tooltip" title="Wyklucz!"
                          data-ng-click="Exclude(person.id,$index)"
                        confirm="Na pewno wykluczyć '{{person.name}}' z kolejnych składek?">
                    </span>
            </td>
            <td data-ng-repeat="period in periods.item" class="text-center">
                <div data-ng-if="checkPaid(person.id,period.id)"
                     class="alert alert-success"
                     data-ng-click="pay(person.id,period.id)" data-ng-show="hidePaid"
                     >
                    <span class="glyphicon glyphicon-ok"></span> Zapłacone
                </div>
                <div data-ng-if="!checkPaid(person.id,period.id) && !getDisplay(display,(person.id+''+period.id))"
                     class="alert alert-danger"
                     data-ng-click="pay(person.id,period.id)"
                        >
                    <span class="glyphicon glyphicon-remove"></span> Nie zapłacone
                </div>
                <div data-ng-if="getDisplay(display,(person.id+''+period.id))" class="alert alert-info">
                    Nie dotyczy
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-success" data-ng-show="showMessage">
        <div style="text-align:center; font-size:20px;">Wszystkie składki zapłacone! Gratulacje!</div>
    </div>

</div>