<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu123">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="" data-ng-click="LoadContent('index')" class="navbar-brand">System składek</a>
    </div>
    <div class="collapse navbar-collapse" id="menu123">
        <ul class="nav navbar-nav middle-menu">
            <li><a href="" data-ng-click="LoadContent('index')">Home</a></li>
            <li><a href="" class="dropdown" data-toggle="dropdown">Bilans</a>
                <ul class="dropdown-menu">
                    <li><a href="" data-ng-click="openDialog('balance')">Zestawienie</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="" data-ng-click="openDialog('overdue')">Zaległe składki</a></li>
                </ul>
            </li>
            <li><a href="" class="dropdown" data-toggle="dropdown"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj</a>
                <ul class="dropdown-menu">
                    <li><a href=""
                           data-ng-click="openDialog('addCollect')">Dodaj składkę</a> </li>
                    <li><a href=""
                           data-ng-click="openDialog('addExpense')">Dodaj wydatek</a> </li>
                    <li><a href=""
                           data-ng-click="openDialog('addPerson')">Dodaj dłużnika</a> </li>
                    <li><a href=""
                           data-ng-click="openDialog('addPayment')">Dodaj wpłatę</a> </li>
                </ul>
            <li><a href="" class="dropdown" data-toggle="dropdown"><span class="glyphicon glyphicon-pencil"></span> Edytuj</a>
                <ul class="dropdown-menu">
                    <li><a href="" data-ng-click="showEdit1()">Tryb edycji</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="" data-ng-click="ForgiveCollect()">Daruj składkę</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="" data-ng-click="LoadContent('expenses'); showEdit1()">Edytuj wydatki</a></li>
                </ul>
            </li>
            <li>
                <a href="" data-ng-click="OpenArchive()">Archiwum</a>
            </li>
            <li>
                <a href="admin.php" target="_blank">Panel Admina</a>
            </li>
            <li data-ng-show="showEdit">
                <a href="" data-ng-click="showEdit1()"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Wyłącz tryb edycji</button> </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
            <a href="">
                <button class="btn btn-default" data-ng-click="hidePaid1()">
                    {{textHidePaid || "Pokaż"}} zapłacone składki
                </button>
            </a>
            </li>
            <li>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Wyszukaj dłużnika" ng-model="searchText">
                    </div>
                </form>
            </li>
            <li><a href="" data-ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
        </ul>
    </div>
</div>