
    <h2>Zaległe składki</h2>
    <div ng-controller="Balance">
        <div class="table-responsive">
            <table class="table table-hover table-striped h4 text-center">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Zaległe składki</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="overdue in overdues" ng-if="overdue.value !== 0">
                    <td>{{ overdue.name }}</td>
                    <td>{{ overdue.value }}zł</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr class="info h2 text-warning">
                    <td>Razem</td>
                    <td>{{ totalShortage }}zł</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>