<div class="col-md-2"></div>
<div class="col-md-8" style="background: #F0F0F0;">
    <h2>Zestawienie przychodów</h2>
    <div class="table-responsive" ng-controller="Balance">
        <div class="alert alert-info h3">Razem: {{ revenue }}zł</div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>L.p</th>
                <th>Nazwa</th>
                <th>Kwota</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>Przychody ze składek</td>
                <td>{{ payCollect }}zł</td>
            </tr>
            <tr ng-repeat="payment in payments.item" ng-if="payment">
                <td>{{ $index+2 }}.</td>
                <td>{{ payment.name }}</td>
                <td>{{ payment.price}}zł</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>