body {
    background: url(../img/bg.jpg);
}
#body {
    width: 80%;
    margin: 0 auto;
}
#menu div div {display: block; background: url(../img/menu.png) no-repeat; width: 202px; height: 32px;padding-top: 5px;}
#menu div div a {color: #d8efff;text-decoration: none;font-weight: bold; text-align: center;}
#menu {
    float: left;
    clear: both;
    text-align: center;
    color: #7a7a7a;
    margin-right: 50px;
}
#container {padding: 100px 0;}
#container > p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #7a7a7a;
}
#record {display: inline-block;}
.row {display: table-row;}
#record {display: table-row;}
.cell {display: table-cell;}
.row div {
    display: table-cell;
    padding: 10px;
    border: 1px solid #c9c9c9;
    width: 140px;

}
#record .head {
    display: table-header-group;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background: url(../img/table-head.png) repeat-x;
    color: #d8efff;
}
form input:valid {
    background: #c9c9c9;
}

form > div > label, form > div > input[type='text'], form > div > input[type='number']{
    display: inline-table;
    width: 200px;
    padding: 5px;

}
form > div > #date {
    width: 50px;
}