body {
    background: url(../img/bg.jpg);
}
#body > div:nth-child(1), #body > div:nth-child(2) {display: inline-block;}
#body {
    color: #7a7a7a;
    width: 1100px;
    margin: auto;
}
#body #form {
    float: right;
    width: 200px;
}

#body #form input {
    background: url(../img/skladki/input.png) no-repeat;
    width: 201px;
    height: 34px;
    border: none;
    padding: 0 10px;
    margin: 2px 0 0 7px;
}
#body #form label {
    background: url(../img/skladki/input-head.png) no-repeat;
    width: 208px;
    height: 31px;
    padding: 5px 160px 15px 15px;
    color: #fff;
    font-weight: bold;
}

button[type="submit"] {
    background: url("../img/skladki/zaloguj.png") no-repeat;
    width: 89px;
    height: 37px;
    border: none;
}

button[type="submit"]:hover {
    background-position: bottom;
}
#body #desc {
    border: 30px solid;
    -webkit-border-image:url(../img/table.png) 30% 20;
    -o-border-image:url(../img/table.png) 30% 20;
    border-image: url(../img/ramka.png) 30% 20;
    padding: 15px;
    width: 800px;

}
#desc > div {
    display: inline-table;
    background: #fff;
}

#desc > div:nth-child(2) {
    width: 250px;
}

#desc > div:nth-child(1) {
    border: 1px #000000 solid;
    height: auto;
    width: 500px;
}
#body #changelog {
    clear: both;
    margin: 40px 0;
    width: 100%;
    border: 30px solid;
    -webkit-border-image:url(../img/table.png) 30% 20;
    -o-border-image:url(../img/table.png) 30% 20;
    border-image: url(../img/table.png) 30% 20;
    background: #ffffff;
}
#body #changelog > p {
    margin: -20px -14px 20px -16px;
    padding: 5px 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    background: url(../img/head-expenses.png) repeat-x;
    height:47px;
    color: #fafafc;
}
#body #changelog > div {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px #7a7a7a solid;
    border-radius: 10px;
    background-color: #fafafc;
}
#body #changelog > div p {
    display: inline-table;
    padding-right: 15px;
}
.center-block {
    margin: auto;
}