body {background: url(../img/bg.jpg);color: #7a7a7a;font-family: 'PT Sans', sans-serif;font-weight: bold;}
#top{position: absolute;bottom: 30px;right: 50px;}
#top img{height: 200px;width: auto;padding-right: 200px;position: relative;top: 7px;}
#menuButton{position: absolute; top:15px; right: 15px; background: url(../img/menu2.png) no-repeat top center; width: 38px; height: 40px;}
#menuButton:hover #menu, #menu:hover,#menuButton:hover {display: block; background-position: bottom;}
#menu {float: right; display: none;margin-right: 38px;}
#menu > div {display: block;background: url(../img/menu.png) no-repeat;width:202px;height:27px;text-align:center;padding-top: 5px;margin-bottom:5px;}
#menu > div > a {color: #d8efff;text-decoration: none;font-weight: bold;}
#main {display: table; width: 100%}
#record {display: inline-block;}
.row {display: table-row;}
#main .row .red {background: red;font-style: italic;font-weight: bold;cursor: pointer;color: #000000;text-align: center;}
#main .row .green {background: green;font-style: italic;font-weight: bold;color: #000000;text-align: center;}
#record {display: table-row;}
.cell {display: table-cell;}
.row div {display: table-cell;padding: 10px;border: 1px solid #c9c9c9;width: 140px;}
#record .head {font-weight: bold;font-style: italic;text-align: center;background: url(../img/table-head.png) repeat-x;color: #d8efff;}
#main .row .person {cursor: zoom-in;background: #eeeef0;}
#main .sum {background: #fafafc;}
#main .row .shortage, #main .row .shortage2 {display: none;position: absolute;z-index: 9999999; left: 150px;background: url(../img/table-head.png) repeat-x;color: white;font-weight: bold;text-align: center;}
#main .row .person:hover .shortage, #main .row .month:hover .shortage2{display: block;}
#adminMenu{
    background: #000000;
    width: 102%;
    height: 30px;
    position: relative;
    top: -8px;
    left: -8px;
}
/*

        Wydatki

*/
#expenses > div {display: inline-block;}
#balance {font-weight: bold;margin-top: 20px; width:300px; float: left}
#container {display:none;width: 900px; float: right}
.cont {text-align: center;background: #eeeef0;font-size: 1.1em;font-style: italic;}
#balance, #container {
    display: inline;}
#expenses, #payments, #shortage { display: none; }
.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.glyphicon {
    cursor: hand !important;
}

input {
    height:30px !important;
}

.navbar-header {
    z-index: 9999999 !important;
}

.slide-animate-container {
    position:relative;
    overflow:hidden;
}

.slide-animate {
    padding:10px;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
    padding:10px;
}

.slide-animate.ng-enter {
    top:-50px;
}
.slide-animate.ng-enter.ng-enter-active {
    top:0;
}

.slide-animate.ng-leave {
    top:0;
}
.slide-animate.ng-leave.ng-leave-active {
    top:50px;
}