<div><a href="" class="btn btn-warning" style="width: 150px; height: 30px; margin: 15px 0">Zmień hasło</a></div>
<div><a href="" class="btn btn-warning" style="width: 150px; height: 30px; margin: 15px 0">Archiwizacja</a></div>
<div><a href="" class="btn btn-warning" style="width: 150px; height: 30px; margin: 15px 0">Zamknięcie roku</a></div>
<div><a href="" class="btn btn-warning" style="width: 150px; height: 30px; margin: 15px 0">Coś</a></div>