<form method="post" id="ChangePassword" ng-controller="ChangePassword">
    <div id="alert"></div>
    <div class="form-group">
        <label for="oldPw">Stare hasło</label>
        <input type="password" name="oldPw" id="oldPw" required>
    </div>

    <div class="form-group">
        <label for="newPw">Nowe hasło</label>
        <input type="password" name="newPw" id="newPw" required ng-model="pw1">
    </div>

    <div class="form-group">
        <label for="newPw2">Nowe hasło</label>
        <input type="password" name="newPw2" id="newPw2" required ng-model="pw2">
    </div>

    <div class="form-group">
        <button class="btn btn-success" ng-click="Submit('ChangePassword')">Zmień hasło</button>
    </div>
</form>